<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Welcome Back</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <form (ngSubmit)="login()">
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input 
              type="email" 
              [(ngModel)]="loginRequest.email" 
              name="email" 
              required
              placeholder="Enter your email">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input 
              type="password" 
              [(ngModel)]="loginRequest.password" 
              name="password" 
              required
              placeholder="Enter your password">
            </ion-input>
          </ion-item>

          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>

          <ion-button 
            type="submit" 
            expand="block" 
            [disabled]="isLoading"
            class="login-button">
            {{ isLoading ? 'Logging in...' : 'Login' }}
          </ion-button>
        </form>

        <div class="register-link">
          <p>Don't have an account? 
            <a (click)="navigateToRegister()" class="link">Register here</a>
          </p>
          <p>Don't have an account? 
            <a (click)="navigateToWork()" class="link">Work</a>
          </p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
