<ion-app>
  <!-- Header with User Dropdown -->
  <ion-header *ngIf="authService.currentUser">
    <ion-toolbar>
     <img src="../assets/img/logo.png" style="padding-left: 10px;" width="50px" alt="App Logo" class="app-logo" />
      <ion-buttons slot="end">
        <!-- User Dropdown -->
        <div class="user-dropdown">
          <ion-button (click)="presentPopover($event)" fill="clear">
            <ion-icon name="person-circle" slot="start"></ion-icon>
            {{ authService.currentUser?.name || authService.currentUser?.email }}
            <ion-icon name="chevron-down" slot="end"></ion-icon>
          </ion-button>
        </div>
        <app-cart-icon *ngIf="authService.currentUser.role=='customer'"></app-cart-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-header *ngIf="!authService.currentUser">
    <ion-toolbar>
     <img src="../assets/img/logo.png" style="padding-left: 10px;" width="50px" alt="App Logo" class="app-logo" />
      <ion-buttons slot="end">
      
         <!---Only show if on home page-->
        <div class="user-dropdown" *ngIf="router.url === '/home'">
         

          <ion-button (click)="router.navigate(['/login'])" fill="clear">
            Login
          </ion-button>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet></ion-router-outlet>
</ion-app>
