<ion-header>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'welcome_to_servicehub' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="containerr">
   
    <swiper-container [pagination]="true" [loop]="false" autoplay="true" [autoplay]="{delay:10000}" [slidesPerView]="1" class="section swiper-container swiper-slider swiper-slider-minimal"  effect="coverflow"  #swiperContainer>
      
          <swiper-slide *ngFor="let slide of slides" class="swiper-slide swiper-slide_video" style="background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('{{slide.bgImage}}');background-repeat: no-repeat;background-size: cover;background-position: top;height: 400px;">
            <div class="container">
              <div class="jumbotron-classic-content">
                <div class="wow-outer">
                  <div class="title-docor-text font-weight-bold title-decorated text-uppercase wow slideInLeft text-white">{{ slide.title }}</div>
                </div>
                <h1 class="text-uppercase text-white text-center font-weight-bold wow-outer"><span class="wow slideInDown" data-wow-delay=".2s">{{slide.subtitle}}</span></h1>
                <p class="text-white wow-outer"><span style="text-align: center;" class="wow slideInDown" data-wow-delay=".35s">{{slide.description}}</span></p>
              </div>
            </div>
          </swiper-slide>
          <!-- <swiper-slide class="swiper-slide" data-slide-bg="images/slider-minimal-slide-2-1920x968.jpg">
            <div class="container">
              <div class="jumbotron-classic-content">
                <div class="wow-outer">
                  <div class="title-docor-text font-weight-bold title-decorated text-uppercase wow slideInLeft text-white">Easily</div>
                </div>
                <h1 class="text-uppercase text-white font-weight-bold wow-outer"><span class="wow slideInDown" data-wow-delay=".2s">Rent & Sale</span></h1>
                <p class="text-white wow-outer"><span class="wow slideInDown" data-wow-delay=".35s">With the help of our services and property management solutions, you can rent or sell any house or apartment.</span></p>
                <div class="wow-outer button-outer"><a class="button button-md button-primary button-winona wow slideInDown" href="#" data-wow-delay=".4s">View properties</a></div>
              </div>
            </div>
          </swiper-slide>-->
          <!-- <swiper-slide class="swiper-slide" data-slide-bg="images/slider-minimal-slide-3-1920x968.jpg">
            <div class="container">
              <div class="jumbotron-classic-content">
                <div class="wow-outer">
                  <div class="title-docor-text font-weight-bold title-decorated text-uppercase wow slideInLeft text-white">More Than 20 Years of</div>
                </div>
                <h1 class="text-uppercase text-white font-weight-bold wow-outer"><span class="wow slideInDown" data-wow-delay=".2s">Experience</span></h1>
                <p class="text-white wow-outer"><span style="text-align: center;" class="wow slideInDown" data-wow-delay=".35s">Founded in 1989, our company is a team of renowned property management and real estate experts always ready to help you.</span></p>
              </div>
            </div>
          </swiper-slide> -->
       
        
    </swiper-container>
    <!-- <div class="hero-slider">
      -->
      <!-- <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label=""></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label=""></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label=""></button>
        </div>
        <div class="carousel-inner">
          <div *ngFor="let slide of slides">
            <div class="carousel-item active"  style="background-color:'{{slide.bgColor}}';background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('{{slide.bgImage }} ');background-position: top;background-repeat: no-repeat;background-size: cover;" >
              <div class="carousel-caption d-block d-md-block" style="margin-top: -20px;">
                <h1 style="margin-top: -17% !important;">{{ slide.title }}</h1>
                <p>{{ slide.subtitle }}</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->


      <!-- <swiper-container [pagination]="true" [autoplay]="true" [zoom]="true" [zoom]="false" [slidesPerView]="1" class="swiper-bg" style="width: 100%;">
      <swiper-slide  [style.background-color]="slide.bgColor" [style.background-image]="'linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(' + slide.bgImage + ')'" *ngFor="let slide of slides" style="width: 100%;width: 100%;height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;">
         <div class="slide-content">
            <h1>{{ slide.title }}</h1>
            <p>{{ slide.subtitle }}</p>
          </div>
      </swiper-slide>
    </swiper-container> -->
      <!-- <swiper-container
        #swiperContainer
        [config]="swiperConfig"
        init="false"
        class="mySwiper"
      >
        <swiper-slide
          *ngFor="let slide of slides; let i = index"
          [style.background-color]="slide.bgColor"
          [style.background-image]="'linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(' + slide.bgImage + ')'"
        >
          <div class="slide-content">
            <h1>{{ slide.title }}</h1>
            <p>{{ slide.subtitle }}</p>
          </div>
        </swiper-slide>
      </swiper-container> -->
     
    <!-- </div> -->


    <!-- Loading State -->
    <div *ngIf="loading" class="loading-section">
      <ion-spinner name="crescent"></ion-spinner>
      <p>{{ 'loading_services' | translate }}</p>
    </div>

    <!-- Error State -->
    <div *ngIf="error && !loading" class="error-section">
      <ion-card color="danger">
        <ion-card-content>
          <ion-icon name="warning" size="large"></ion-icon>
          <p>{{ error }}</p>
          <ion-button (click)="ReloadServices()" fill="clear">
            {{ 'try_again' | translate }}
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="row mt-4" *ngIf="!loading && !error && services.length > 0">
        <div class="column"   *ngFor="let service of services">
          <div class="card" (click)="selectService(service)">
            <div class="icon-wrapper">
              <ion-icon [name]="getServiceIcon(service.name)" size="large"></ion-icon>
            </div>
            <h3>{{ service.name }}</h3>
            <p>
              {{ service.description || ('professional_service' | translate) }}
            </p>
            <hr style="height: 1px;background: rgba(169, 169, 169, 0.39);margin-top: 5px;margin-bottom: 5px;">
            <div class="service-price" style="color:#000;">
              <strong>{{ 'from' | translate }} :<br> <span style="font-size:1.6rem;color:#000;">{{ service.base_price | localCurrency }}</span></strong>
            </div>
            <div class="service-distance" style="color:darkgray;font-style: italic;" *ngIf="service.distance_rate > 0">
              <small>+ {{ service.distance_rate | localCurrency }}{{ 'per_mile_over' | translate }}</small>
            </div>
          </div>
        </div>
        <!-- <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-wrench"></i>
            </div>
            <h3>Service Heading</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-truck-pickup"></i>
            </div>
            <h3>Service Heading</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-broom"></i>
            </div>
            <h3>Service Heading</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-plug"></i>
            </div>
            <h3>Service Heading</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div> -->
      </div>

    <!-- Services Grid -->
    <!-- <div *ngIf="!loading && !error" class="services-grid services-section">
      <ion-grid>
        <ion-row>
          <ion-col 
            size="12" 
            size-md="6" 
            size-lg="4" 
            *ngFor="let service of services"
          >
            <ion-card class="service-card" (click)="selectService(service)">
              <ion-card-header>
                <div class="service-icon">
                  <ion-icon [name]="getServiceIcon(service.name)" size="large"></ion-icon>
                </div>
                <ion-card-title>{{ service.name }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p class="service-description">{{ service.description || ('professional_service' | translate) }}</p>
                <div class="service-price">
                  <strong>{{ 'from' | translate }}: {{ service.base_price | localCurrency }}</strong>
                </div>
                <div class="service-distance" *ngIf="service.distance_rate > 0">
                  <small>+ {{ service.distance_rate | localCurrency }}{{ 'per_mile_over' | translate }}</small>
                </div>
                <ion-button expand="block">
                  {{ 'select_service' | translate }}
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> -->
    <!-- <div *ngIf="!loading && !error && services.length > 0" class="services-section">
      <div class="section-header">
        <h2 class="section-title">{{ 'Our Services' | translate }}</h2>
      </div>
      
      <div class="services-grid">
        <div 
          class="service-card-modern" 
          *ngFor="let service of services;"
          (click)="selectService(service)"
        >
          <div class="service-card-inner">
            <div class="service-icon-container">
              <div class="service-icon-bg">
                <ion-icon [name]="getServiceIcon(service.name)" class="service-icon"></ion-icon>
              </div>
            </div>
            
            <div class="service-content">
              <h3 class="service-title">{{ service.name }}</h3>
              <p class="service-description">
                {{ service.description || ('professional_service' | translate) }}
              </p>
              
              <div class="service-pricing">
                <div class="base-price">
                  <span class="price-label">{{ 'from' | translate }}</span>
                  <span class="price-value">{{ service.base_price | localCurrency }}</span>
                </div>
                <div class="distance-rate" *ngIf="service.distance_rate > 0">
                  <span class="rate-text">
                    + {{ service.distance_rate | localCurrency }} {{ 'per_mile_over' | translate }}
                  </span>
                </div>
              </div>
            </div>
            
            <div class="service-action">
              <ion-button 
                fill="solid" 
                size="default"
                class="select-button"
              >
                <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
                {{ 'book service' | translate }}
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- New Promo Area Section -->
    <div class="promo-area-section">
      <div class="promo-area-grid">
        <div class="promo-card">
          <h3>15% OFF</h3>
          <p>For sales > 300 Cedis</p>
        </div>
        <div class="promo-card">
          <h3>30% OFF</h3>
          <p>For sales > 1000 Cedis</p>
        </div>
        <div class="promo-card">
          <h3>10% OFF</h3>
          <p>For sales > 2000 Cedis</p>
        </div>
      </div>
    </div>

    <div *ngIf="shopProducts && shopProducts.length > 0" class="shop-section">
      <div class="section-header">
        <h2 class="section-title">{{ 'Recommended' | translate }}</h2>
      </div>
      
      <div class="products-grid">
        <div 
          class="product-card-modern" 
          *ngFor="let product of shopProducts;"
        >
          <div class="product-image-container">
            <img 
              *ngIf="product.image_url;" 
              [src]="product.image_url" 
              [alt]="product.name"
              class="product-image"
              loading="lazy"
            />

             <img 
              *ngIf="!product.image_url;" 
              [src]="'https://assets.bonappetit.com/photos/63e6c29840953eab0f1ffca3/16:9/w_2560%2Cc_limit/Best_cleaning_products.jpg'" 
              [alt]="product.name"
              class="product-image"
              loading="lazy"
            />
            <ng-template *ngIf="!product.image_url" #placeholderImage>
              <div class="product-placeholder">
                <ion-icon name="image-outline" size="large"></ion-icon>
              </div>
            </ng-template>
            
            <div class="stock-badge" [class.out-of-stock]="!product.stock_quantity">
              <span class="stocktime"> 
                Stock : {{ product.stock_quantity || ('no_stock_available' | translate) }}
              </span>
              <ng-template #outOfStock>
                {{ 'out_of_stock' | translate }}
              </ng-template>
            </div>
          </div>
          
          <div class="product-content">
            <h3 class="product-title">{{ product.name }}</h3>
            <!-- <p class="product-description">
              {{ product.description || ('no_description_available' | translate) }}
            </p> -->
            
            <div class="product-footer">
              <div class="product-price">
                <span class="price-value">{{ product.base_price | localCurrency }}</span>
              </div>
              
              <ion-button 
                fill="solid" 
                size="default"
                class="add-to-cart-button"
                (click)="addToCart(product)"
                [disabled]="!product.stock_quantity"
              >
                <ion-icon name="bag-add-outline" slot="start"></ion-icon>
                {{ 'add to cart' | translate }}
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- No Services Available -->
    <div *ngIf="!loading && !error && services.length === 0" class="no-services">
      <ion-card>
        <ion-card-content>
          <ion-icon name="alert-circle" size="large"></ion-icon>
          <h3>{{ 'no_services_available' | translate }}</h3>
          <p>{{ 'check_back_later' | translate }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <!-- Success Toast Notification -->
  <ion-toast
    [isOpen]="showToast"
    [message]="toastMessage"
    [duration]="3000"
    (didDismiss)="showToast = false"
    position="bottom"
    color="success">
  </ion-toast>

  <!-- Chat FAB Button -->
  <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="quick-actions">
    <ion-fab-button (click)="navigateToChat()">
      <ion-icon name="chatbubble"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
